@import '../../../styles//common.scss';

.courses__options {
    @extend %flex-container;
    flex-direction: row;
    align-items: flex-start;
}
.courses__list{
    margin-top: 20px;
}
.content-courses__filter {
    width: 80%;
    height: 40px;;
}
.content-courses__course-item {
    width: 100%;
}

.content-courses__button {
    margin-left: auto;
    height: 40px;;
}
