@import '../../../styles/common.scss';

.header-course {
    @extend %flex-container;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-course__button {
    height: 40px;
    width: 100px;
}

.header-course__user-options {
    @extend %flex-container;
    flex-direction: column;
}

.user-options__link {
    color: #1f22ac;
}
